@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding-top: 100px;
    padding-bottom: 2%;
    background: #ffffff;
}

.row{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.container img:not(span img){
    border-radius: 5px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 2, 0.3);
}

.footer{
    background: #712F31;
    border-radius: 5px;
}

.footer .container img{
  box-shadow: none;
}

.footer span{
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.footer {
    color: #fff;
    text-align: center;
  }

  .footer a{
    text-decoration: underline;
    color: #fff;
    font-weight: 500;
  }
  
  .footer-logo {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-email {
    display: inline-block;
  }

  .row li{
    font-weight: 500;
  }