body{
    overflow: hidden;
}

/*Form*/
.wrapper{
    margin-top: 35px;
    padding: 0 20px 0 20px;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img:not(.navbar-brand img){
    width: 60px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #712F31;
    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.3);

}

.side-image{
    background: #e4e1e1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
    border: solid 1px #7e7e7e;
    border-right: none;
}

.text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p{
    color: #000;
    font-size: 18px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box{
    width: 330px;
    box-sizing: border-box;
}

.input-box header{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.input-box header svg{
    transform: scale(1.6);
}


.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    color: #fff;
    margin-bottom: 20px;
}

.input-box .input-field label{
    position:absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: 0.3s;
    color: #e4e4e4;
}

.input-field input:focus ~ label{
    top: -10px;
    font-size: 13px;
    color: #fff;
}

.input-field input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #fff;
}

.input-field input:focus:not(.submit) , .input-field input:valid:not(.submit){
    border-bottom: 2px solid #fff;
}

.submit{
    border: none;
    outline: none;
    height: 45px;
    background: #e4e1e41f;
    border-radius: 5px;
    border: solid 2px #7e7e7e5d;
    color: #e4e1e1;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    transition: 0.3s;
}

.submit:hover{
    background: #e4e1e1;
    color: #712F31;
    border: solid 2px #7e7e7e00;
}

.otp{
    text-align: center;
    font-size: small;
    color:#ffffffa8;
    text-decoration: underline;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.otp a{
    font-weight: 500;
    
}

.otp:hover{
    color:#ffffff;
    
}

@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
        padding: 20px 20px;
    }
    img:not(.navbar-brand img){
        visibility: hidden;
    }
    .text{
        position: absolute;
        text-align: center;
        margin-top: 10px;
        top: 50%;
        width: 80%;
    }

    .text p,i{
        font-size: 15px;
    }

    .row{
        max-width: 420px;
        width: 100%;
    }
}
